{{#if startingQuiz}}
  <button class="btn btn-primary" {{action 'startQuiz' results}}>Start Art Quiz</button>
{{/if}}
{{#if quizzingNow}}
<div class="container">
  <div class="row">
    <div class="col-xs-6 visabilityBox">
      <img class="quizImage" src={{currentQuestion}}/>
      <br>
      <label for="answer"><h3>Name the painter by last name:</h3></label>
      {{input class="form-control" value=answer id="answer"}}
      <button class="btn btn-primary" {{action 'nextQuestion' results}}>Submit Answer</button>
    </div>
    <div class="col-xs-5 score">
      <div class="row">
        <div class="artTimerDisplay" >
          <span id="artTimer"></span>
          <p> Score: {{display-score score.quizTotal}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{#if areResultsShowing}}
  <div class="container well compAnswerKey">
    <h1>Answer Key</h1>
      <div class="row">
          {{#each results as |arts|}}
            <div class="col-xs-3">
              {{arts.artist}}<img class="thumbnail" src={{arts.image}}/>
            </div>
          {{/each}}
      </div>
      <button class="btn btn-primary" {{action 'transitionToNew' transition.categories}}>Next Quiz</button>
  </div>
{{/if}}
