{{#if quizzingNow}}
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <img class="img-responsive" src={{currentQuestion}}/>
      <br>
      <label for="answer">Name the movie:</label>
      {{input class="form-control" value=answer id="answer"}}
      <button class="btn btn-primary" {{action 'nextQuestion' results}}>Submit Answer</button>
    </div>
    <div class="col-xs-5 score">
      <h2>Score</h2>
      <h2>{{score.totalScore}}</h2>
    </div>
  </div>
</div>

{{else}}
<button class="btn btn-primary" {{action 'startQuiz' results}}>Start Movie Quiz</button>
{{/if}}

{{#if areResultsShowing}}
  <h1>Answer Key</h1>
    <div class="container">
      <div class="row">
        {{#each results as |movies|}}
          <div class="col-xs-3">
            {{movies.title}}<img class="thumbnail" src={{movies.image}}/>
          </div>
        {{/each}}
      </div>
  </div>
{{/if}}
