{{#if startQuiz}}
  <button class="btn btn-primary" {{action 'startQuiz' results}}>Start Movie Quiz</button>
{{/if}}
{{#if quizzingNow}}
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <img class="quizImage" src={{currentQuestion}}/>
      <br>
      <label for="answer"><h3>Name the movie:</h3></label>
      {{input class="form-control" value=answer id="answer"}}
      <button class="btn btn-primary" {{action 'nextQuestion' results}}>Submit Answer</button>
    </div>
    <div class="col-xs-3 col-xs-offset-2 score">
      <div class="row">
        <div class="movieTimerDisplay" >
          <span id="movieTimer"></span>
          <p> Score: {{display-score score.quizTotal}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#if areResultsShowing}}
  <h1>Answer Key</h1>
    <div class="container">
      <div class="row">
        {{#each results as |movies|}}
          <div class="col-xs-3">
            {{movies.title}}<img class="thumbnail" src={{movies.image}}/>
          </div>
        {{/each}}
      </div>
      <button class="btn btn-primary" {{action 'transitionToNew' transition.categories}}>Done</button>

  </div>
{{/if}}
