{{#if startQuiz}}
  <div class="row visabilityBox">
    <div class="col-xs-6 col-xs-offset-3 ">
      <h1 class="quizHeader">President Quiz</h1>
      <button class="compButton btn btn-primary" {{action 'startQuiz'}}>Start President Quiz</button>
    </div>
  </div>
{{/if}}
{{#if quizzingNow}}
<div class="row visabilityBox">
  <div class="col-xs-3">
    <div class="inputDiv row">
        <label for="guess">Enter Presidents Full Name including middle initials or name i.e. Andrew S. Fisher </label>
        {{input class="form-control" value=guess name=guess id='guess'}}
        <button class="btn btn-primary presiButton" {{action 'checkAnswer' results}}>Submit</button>
    </div>
    <div class="row presiTimerBox">
      <div class="presidentTimerDisplay" >
        <span id="presidentTimer"></span>
        <p> Score: {{display-score score.quizTotal}}</p>
      </div>
    </div>
    <button id="presiDoneButton" class=" btn btn-primary" {{action 'transitionToNew' transition.categories}}>Done</button>
  </div>
  <div class="col-xs-9">
    <div class="row" id="presiLoop">
      {{#each results as |result|}}
        <div class="col-xs-2">
            <div class="notShown"id="{{result.term}}1">
              <img class="img-responsive" src="https://www.ekaspace.com/upload/img/profile/noimg.jpg" alt="" />
              <p>President {{result.term}}</p>
            </div>
            <div class="shown" id="{{result.term}}2">
              <img class="presiPhoto img-responsive" src="{{result.image}}" alt="" />
              <p>{{result.name}} <span>{{result.term}}</span> </p>
            </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{/if}}
<!-- {{#if quizDone}}
<div class="col-xs-9">
  <div class="row" id="presiLoop">
    {{#each results as |result|}}
      <div class="col-xs-2">
          <div class="shown" id="{{result.term}}2">
            <img class="presiPhoto img-responsive" src="{{result.image}}" alt="" />
            <p>{{result.name}} {{result.term}}</p>
          </div>
      </div>
    {{/each}}
  </div>
</div>
{{/if}} -->
